<ion-header>
  <ion-header>
    <ion-toolbar color="primary" style="padding: 0 5px" >
      <ion-title>
         TESTING
      </ion-title>
      <ion-buttons slot="end">
          <ion-button style="background-color:black; border-radius: 103px">
              <ion-icon  md="md-help"></ion-icon>
            </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
