ion-title {
    font-family: MontBold !important;
    font-size:15px !important;
    font-weight:bold !important;
}

ion-title {
    .toolbar-title {
        font-family: MontBold !important;
        font-size:15px !important;
        font-weight:bold !important;
    }
    
}

.toolbar-title {
    font-family: MontBold !important;
    font-size:15px !important;
    font-weight:bold !important;
}

ion-content {
    font-family: MontMed !important;
    font-size:14px !important;
    font-weight:bold !important;
}

